<table class="table table-hover">
  <% comments.each do |comment| %>
    <tr onclick="location.href='<%= admin_study_comment_path(comment) %>'" style="cursor:pointer;">
      <td class="d-flex mb-3 mr-2">
        <div class="icon-sm mr-3">
          <% if comment.user.profile_image.attached? %>
            <%= image_tag comment.user.get_profile_image(50, 50), class: "img-fluid" %>
          <% else %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        </div>
        <div class="flex-column">
          <div class="text-size"><%= comment.user.name %></div>
          <div class="text-size break-word"><%= comment.comment %></div>
        </div>
        <div class="ml-auto text-size">
          <%= link_to '削除', admin_study_comment_path(comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
