<div class="container device">
  <div class="row">
    <div class="outline col-lg-12 mt-4">
      <h2 class="title text-center mb-4">管理者ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal mt-3" }) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <td class="from pl-5 pt-3"><%= f.label :メールアドレス %></td>
            <td class="from pl-5"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td class="from pl-5 pt-3"><%= f.label :パスワード %></td>
            <td class="from pl-5"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>
          <% if devise_mapping.rememberable? %>
            <tr>
              <td></td>
              <td colspan="2" class="from pl-5">
                <%= f.check_box :remember_me %>
                <%= f.label :"ログインを保存" %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td class="btn-position"><%= f.submit "ログイン", class: "btn btm-sm btn-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <%= render "admin/shared/links" %>
</div>
