<%= form_with model: @study, local: true do |f| %>
  <table class="table">
    <tr>
      <%= f.file_field :image, class: "d-none", onchange: "previewImage(this);" %>
      <td class="form-group">
        <% if study.image.attached? %>
          <%= image_tag study.image, class: "open-file-field img-fluid study-image", id: "preview" %>
        <% else %>
          <%= image_tag "study_no_image.jpg", class: "open-file-field img-fluid study-image", id: "preview" %>
        <% end %>
      </td>
      <td class="form-group">
        <%= f.text_field :title, placeholder: "教材名", class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td class="form-group">
        <%= f.label :status, "ステータス" %>
      </td>
      <td class="form-group text-right">
        <%= f.select :status, Study.statuses.map { |key, value| [I18n.t("enums.study.statuses.#{key}"), value] }, include_blank: false, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td class="form-group">
        <%= f.label :tag_id, "カテゴリー", class: "pt-3" %>
      </td>
      <td>
        <div class="text-right" style="display: flex; justify-content: flex-end; flex-wrap: wrap;">
          <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
            <div class="mr-2">
              <%= b.label { b.check_box + b.text } %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="form-group text-center">
        <%= f.submit '保存', class: "btn btn-dark" %>
      </td>
    </tr>
  </table>
<% end %>


<script>
  $(".open-file-field").on("click", () => {
    $("#study_image").click();
    return false;
  });

  function previewImage(obj)
  {
  	var fileReader = new FileReader();
  	fileReader.onload = (function() {
  		document.getElementById('preview').src = fileReader.result;
  	});
  	fileReader.readAsDataURL(obj.files[0]);
  }
</script>