<table class="table">
  <% studies.each do |study| %>
    <tr>
      <td class="col-md-1">
        <div class="icon">
          <% if study.image.attached? %>
            <%= link_to study_path(study) do %>
              <%= image_tag study.get_image(100, 100), class: "img-fluid study-image" %>
            <% end %>
          <% else %>
            <%= link_to study_path(study) do %>
              <i class="fa-solid fa-book"></i>
            <% end %>
          <% end %>
        </div>
      </td>
      <td>
        <table class="table-borderless">
          <tr>
            <td><%= study.title %></td>
          </tr>
          <tr>
            <td>
              <i class="fa-regular fa-user"></i>
              <%#= %>
            </td>
            <td>
              <i class="fa-regular fa-comment"></i>
              <%= study.study_comments.count %>
            </td>
            <td>
              <%= render 'public/favorites/favorite', study: study %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
</table>
