<table class="table table-hover">
  <% studies.each do |study| %>
    <tr onclick="location.href='<%= study_path(study) %>'" style="cursor:pointer;">
      <td class="col-md-1">
        <%= render 'public/studies/study_icon', study: study %>
      </td>
      <td>
        <table class="table-borderless">
          <tr class="no-hover">
            <td class="break-word"><%= study.title %></td>
          </tr>
          <tr class="no-hover">
            <td>
              <span>
                <i class="fa-solid fa-comment-medical"></i>
                <% if study.study_reviews.any? %>
                  <%= study.study_reviews.count %>
                <% else %>
                  0
                <% end %>
              </span>
              <span class="pl-3">
                <i class="fa-solid fa-thumbs-up"></i>
                <% if study.study_reviews.any? %>
                  <%= study.total_review_favorites %>
                <% else %>
                  0
                <% end %>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
</table>
