<table class="table">
  <% studies.each do |study| %>
    <tr>
      <td class="mb-3 mr-2">
        <div class="icon">
          <% if study.image.attached? %>
            <%= link_to study_path(study) do %>
              <%= image_tag study.get_image(150, 150), class: "img-fluid study-image" %>
            <% end %>
          <% else %>
            <%= link_to study_path(study) do %>
              <i class="fa-solid fa-book"></i>
            <% end %>
          <% end %>
        </div>
      </td>
      <td class="align-top">
        <div class="text-size"><%= study.title %></div>
        <div class="text-size">
          <% if study.tags.present? %>
            <% study.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% end %>
        </div>
      </td>
      <td>
        <%= render 'public/favorites/favorite', study: study %>
      </td>
    </tr>
  <% end %>
</table>