<% studies.each do |study| %>
  <table class="table col-md-8 offset-md-1'">
    <thead >
      <tr>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            <div class="icon-sm">
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid" %>
              <% else %>
                <i class="fa-regular fa-circle-user"></i>
              <% end %>
            </div>
          </div>
        </th>
        <th class="align-top"><%= @user.name %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td></td>
          <td class="mb-3 mr-2">
            <div class="icon">
              <% if study.image.attached? %>
                <%= link_to study_path(study) do %>
                  <%= image_tag study.get_image(150, 150), class: "img-fluid" %>
                <% end %>
              <% else %>
                <%= link_to study_path(study) do %>
                  <i class="fa-solid fa-book"></i>
                <% end %>
              <% end %>
            </div>
          </td>
          <td class="align-top">
            <div class="text-size"><%= study.title %></div>
            <div class="text-size">
              <% if study.tags.present? %>
                <% study.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <%= render 'public/favorites/favorite', study: study %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>

