<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @study %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'side', study: @study %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>記録する</h2>
      <table>
        <% @studies.each do |study| %>
        <tr>
          <td>
            <%= link_to(study.user) do %>
              <%= image_tag study.user.get_profile_image, size:'50x50' %>
            <% end %>
          </td>
          <td><%= link_to study.title, study_path(study), class: "study_#{study.id}" %></td>
          <td><%= study.body %></td>
        </tr>
        <% end %>
      </table>
      <%= link_to '+ 新しい教材を登録', new_study_path %>
    </div>
  </div>
</div>