<%= form_with model: @study, local: true do |f| %>
  <table class='table table-hover table-inverse'>
    <tr>
      <td class="col-lg-7">
        <%= f.file_field :image, accept: "image/*" %>
      </td>
      <td class="form-group">
        <%= f.text_field :title, placeholder: "教材名", class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td class="form-group" colspan="2">
        <%= f.text_area :body, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td class="form-group" colspan="2">
        <%= f.select :status, Study.statuses, {}, { class: 'form-control' } %>
        <%= f.submit "更新", class: "ml-4 btn btn-success" %>
      </td>
    </tr>
    <tr>
      <td class="form-group" colspan="2">
        <%= f.submit '保存', class: 'btn btn-success' %>
      </td>
    </tr>
  </table>
<% end %>
