<%= render 'layouts/errors', obj: @study %>
<%= render 'public/users/side', user: current_user %>
<div class="col-md-8 offset-md-1">
  <h2>記録する</h2>
  <%= form_with model: @study, url: studies_path, method: :post, local: true do |f| %>
    <table class="table">
      <tr>
        <td class="form-group col-md-3">
          <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
        </td>
        <td class="form-group col-md-5">
          <%= f.text_field :title, placeholder: "教材名", class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td colspan=2 class="form-group col-md-8">
          <%= f.text_area :body, class: 'form-control', placeholder: '内容' %>
        </td>
      </tr>
      <tr>
        <td colspan=2 class="form-group text-center">
          <%= f.submit '保存', class: 'btn btn-sm btn-text-center' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>