<%= render 'layouts/errors', obj: @study %>
<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5"><%= @study.title %></h2>
</div>
<table class="ml-5">
  <tr>
    <td class="icon d-flex align-items-start">
      <% if @study.image.attached? %>
        <%= image_tag @study.get_image(100, 100), class: "img-fluid study-image" %>
      <% else %>
        <i class="fa-solid fa-book"></i>
      <% end %>
    </td>
    <td class="w-100">
      <table class="ml-3">
        <tr>
          <td colspan="3" class="text-size pb-3"><%= @study.title %></td>
        </tr>
        <tr class="text-center">
          <td class="col-md-3 text-size">勉強中</td>
          <td class="col-md-3 text-size">レビュー</td>
          <td class="col-md-3 text-size">いいね</td>
        </tr>
        <tr class="text-center">
          <td class="col-md-3"><%#= %></td>
          <td class="col-md-3"><%#= study.study_reviews.count %></td>
          <td class="col-md-3"><%#= @study.study_reviews.favorites.count %></td>
        </tr>
        <tr class="text-center">
          <td colspan="3" class="pt-3">
            <%#= link_to 'レビューを書く', study_path(@study), class: "btn btn-secondary" %>
            <%#= link_to '本棚に登録', study_path(@study), class: "btn btn-secondary" %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <h4 class="pt-3">教材レビュー</h4>
      <%#= render 'public/studies/timeline', studies: @studies, user: @user %>
    </td>
  </tr>
</table>
