<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="clamp-text pl-5"><%= @study.title %></h2>
</div>
<table class="ml-5">
  <tr>
    <td class="icon d-flex align-items-start">
      <% if @study.image.attached? %>
        <%= image_tag @study.get_image(100, 100), class: "img-fluid study-image" %>
      <% else %>
        <i class="fa-solid fa-book"></i>
      <% end %>
    </td>
    <td class="w-100">
      <table class="ml-3">
        <tr>
          <td class="clamp-text text-size pb-3"><%= @study.title %></td>
        </tr>
        <tr class="text-center">
          <td class="text-size">レビュー</td>
          <td class="text-size">いいね</td>
        </tr>
        <tr class="text-center">
          <td><%= @study.study_reviews.count %></td>
          <td><%#= @study.study_reviews.favorites.count %></td>
        </tr>
        <tr class="text-center">
          <td colspan="2" class="pt-3">
            <span><%= link_to 'レビューを書く', new_study_study_review_path(@study), class: "btn btn-secondary" %></span>
            <span class="ml-2"><%= link_to "本棚に登録", new_study_path(@study, title: @study.title), class: "btn btn-secondary" %></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= render 'public/study_reviews/index', studies: @studies, user: @user %>
