<%= render 'layouts/errors', obj: @study %>
<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">教材詳細</h2>
</div>
<table class='table col-md-8'>
	<tr>
    <td class="icon-show col-md-2">
      <% if @study.image.attached? %>
        <%= image_tag @study.get_image(150, 150), class: "img-fluid" %>
      <% else %>
        <i class="fa-solid fa-book"></i>
      <% end %>
    </td>
    <td colspan=2 class="text-size col-md-6"><%= @study.title %></td>
  </tr>
  <tr>
    <td colspan=3 class="text-size col-md-8 align-center"><%= @study.body %></td>
  </tr>
  <tr>
    <% if @study.user == current_user %>
      <td class="col-md-2"><%= link_to '編集', edit_study_path(@study), class: "btn btn-success" %></td>
      <td class="col-md-2"><%= link_to '削除', study_path(@study), method: :delete, data: { confirm: "本棚から「#{@study.title}」を削除しますか？" }, class: "btn btn-danger" %></td>
    <% end %>
    <td colspan=3 class="col-md-4"><%= link_to '一覧へ', studies_path, class: "btn btn-secondary" %></td>
  </tr>
</table>