<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">メッセージ</h2>
</div>
<table class="table w-100 table-hover">
  <% @rooms.each do |room| %>
    <tr onclick="location.href='<%= room_path(room) %>'" style="cursor:pointer;">
      <td class="col-md-1 mb-3">
        <%= render 'public/users/user_icon', user: room.other_user(current_user) %>
      </td>
      <td class="col-md-7">
        <div class="text-size"><%= room.other_user(current_user).name %></div>
        <div class="text-size break-word"><%= room.other_user(current_user).introduction %></div>
        <i class="fa-regular fa-clock">
        <span class="text-size"><%= room.other_user(current_user).total_study_time %></span>
      </td>
      <td class="text-right align-bottom">
        <div>
          <%= render 'public/relationships/button', user: room.other_user(current_user) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>