<% if @user == current_user %>
  <div class="d-flex justify-content-end align-items-end">
    <%= link_to '編集', edit_study_record_path(@record), class: "btn btn-success" %>
    <%= link_to '削除', study_record_path(@record), method: :delete, data: { confirm: "この勉強記録を削除しますか？" },  class: "btn btn-danger ml-3" %>
  </div>
<% end %>

<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">勉強記録</h2>
</div>

<div class="d-flex align-items-center">
  <%= render 'public/users/user_icon', user: @user %>
  <span class="pl-2"><%= @user.name %></span>
</div>

<div class="clamp-text pl-3 pt-2 pb-2">
  <%= @record.word %>
</div>

<div class="d-flex align-items-center">
  <%= render 'public/studies/study_icon', study: @study %>
  <div class="d-flex flex-column">
    <span class="clamp-text pl-2"><%= @study.title %></span>
    <span class="pl-2 mt-2">
      <i class="fa-regular fa-clock text-size"></i>
      <%= @record.study_time %>分
    </span>
  </div>
</div>

<div class="text-size-md pt-3">
  <% if @record.favorited_by?(current_user) %>
    <%= link_to study_record_favorites_path(@study, @record), method: :delete, style: "text-decoration: none; color: #000000;" do %>
      <i class="fa-solid fa-thumbs-up"></i>
    <% end %>
    <span class="pl-1">いいね！　(</span>
    <%= @record.favorites.count %>
    <span class="pl-1">件)</span>
  <% else %>
    <%= link_to study_record_favorites_path(@study, @record), method: :post, style: "text-decoration: none; color: #000000;" do %>
      <i class="fa-regular fa-thumbs-up"></i>
    <% end %>
    <span class="pl-1">いいね！　(</span>
    <%= @record.favorites.count %>
    <span class="pl-1">件)</span>
  <% end %>
</div>

<div class="d-flex gap-2">
  <% @record.favoriting_users.each do |user| %>
    <%= render 'public/users/user_icon', user: user %>
  <% end %>
</div>

<div class="text-size-md pt-3">
  <i class="fa-regular fa-comment"></i>
  <span class="pl-1">コメント　(</span>
  <%= @record.study_comments.count %>
  <span>件)</span>
</div>

<div>
  <%= render 'public/study_comments/index', record: @record %>
</div>

<div class="pt-3">
  <%= render 'public/study_comments/form', record: @record, study_comment: @study_comment %>
</div>