<h6 class="pt-3">教材レビュー</h6>
<% @reviews.each do |review| %>
  <table class="table table-hover">
    <tr onclick="location.href='<%= study_study_review_path(review.study_id, review) %>' "style="cursor:pointer;">
      <td class="col-md-1">
        <div class="icon-sm">
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.get_profile_image(50, 50), class: "img-fluid" %>
          <% else %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        </div>
      </td>
      <td class="col-md-7">
        <table class="table table-borderless">
          <tr class="no-hover">
            <td><%= @user.name %></td>
          </tr>
          <tr class="no-hover">
            <td class="clamp-text">
              <%= review.title %>
            </td>
          </tr>
          <tr class="no-hover">
            <td class="clamp-text">
              <%= review.body %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="text-right"><%= review.created_at.strftime('%Y年%m月%d日 %H:%M') %></div>
<% end %>
