<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">教材レビュー詳細</h2>
</div>

<% if @user == current_user %>
  <div class="d-flex justify-content-end align-items-end">
    <%= link_to '編集', edit_study_study_review_path(@review), class: "btn btn-success" %>
    <%= link_to '削除', study_study_review_path(@review), method: :delete, data: { confirm: "この教材レビューを削除しますか？" },  class: "btn btn-danger ml-3" %>
  </div>
<% end %>

<div class="d-flex align-items-center">
  <%= render 'public/users/user_icon', user: @user %>
  <span class="pl-2"><%= @user.name %></span>
</div>

<div class="break-word pl-3 pt-2 pb-2">
  <%= @review.title %>
</div>

<div class="break-word pl-3 pt-2 pb-2">
  <%= @review.body %>
</div>

<div class="d-flex align-items-center">
  <%= render 'public/studies/study_icon', study: @study %>
  <div class="d-flex flex-column">
    <span class="pl-2"><%= @study.title %></span>
  </div>
</div>

<div class="text-size-md pt-3" id="favorite-<%= @review.id %>">
  <%= render 'public/review_favorites/favorite', review: @review %>
</div>

<div class="text-size-md pt-3">
  <i class="fa-regular fa-comment"></i>
  <span class="pl-1">コメント　(</span>
  <%= @review.review_comments.count %>
  <span>件)</span>
</div>

<div>
  <%= render 'public/review_comments/index', study_review: @review %>
</div>

<div class="pt-3">
  <%= render 'public/review_comments/form', study_review: @review, review_comment: @review_comment %>
</div>

