<table class="table table-hover">
  <% record.study_comments.each do |study_comment| %>
    <% if study_comment.user.present? %>
      <tr>
        <td class="icon">
          <% if study_comment.user.profile_image.attached? %>
            <%= link_to user_path(study_comment.user) do %>
              <%= image_tag study_comment.user.get_profile_image(100, 100), class: "img-fluid user-image" %>
            <% end %>
          <% else %>
            <%= link_to user_path(study_comment.user) do %>
              <i class="fa-regular fa-circle-user"></i>
            <% end %>
          <% end %>
        </td>
        <td class="pl-2">
          <% if study_comment.user == current_user %>
            <%= link_to study_record_study_comment_path(study_id: study_comment.record.study.id, id: study_comment.id, record_id: study_comment.record.id), method: :delete, remote: true, data: { confirm: "このコメントを削除しますか？" }, class: "link-text" do %>
              <div><%= study_comment.user.name %></div>
              <div class="break-word"><%= study_comment.comment %></div>
            <% end %>
          <% else %>
            <div>
              <%= study_comment.user.name %>
              <div class="break-word"><%= study_comment.comment %></div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>