<table>
  <% record.study_comments.each do |study_comment| %>
  <% if study_comment.user.present? %>
    <tr>
      <td class="icon">
        <% if study_comment.user.profile_image.attached? %>
          <%= link_to user_path(study_comment.user) do %>
            <%= image_tag study_comment.user.get_profile_image(100, 100), class: "img-fluid user-image" %>
          <% end %>
        <% else %>
          <%= link_to user_path(study_comment.user) do %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        <% end %>
      </td>
      <td>
        <div><%= study_comment.user.name %></div>
        <div class="clamp-text"><%= study_comment.comment %></div>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>