<table class="table table-hover">
  <% study_review.review_comments.each do |review_comment| %>
    <% if review_comment.user.present? %>
      <tr>
        <td class="icon">
          <% if review_comment.user.profile_image.attached? %>
            <%= link_to user_path(review_comment.user) do %>
              <%= image_tag review_comment.user.get_profile_image(100, 100), class: "img-fluid user-image" %>
            <% end %>
          <% else %>
            <%= link_to user_path(review_comment.user) do %>
              <i class="fa-regular fa-circle-user"></i>
            <% end %>
          <% end %>
        </td>
        <td class="pl-2">
          <% if review_comment.user == current_user %>
            <%= link_to study_study_review_review_comment_path(study_id: review_comment.study_review.study.id, id: review_comment.id, study_review_id: review_comment.study_review.id), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: "link-text" do %>
              <div><%= review_comment.user.name %></div>
              <div class="break-word"><%= review_comment.comment %></div>
            <% end %>
          <% else %>
            <div>
              <%= review_comment.user.name %>
              <div class="break-word"><%= review_comment.comment %></div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>