<% timelines.each do |timeline| %>
  <!--レコード側表示-->
  <%  if timeline.record.present? %>
    <table class="table table-hover">
      <tr onclick="location.href='<%= study_record_path(timeline.record.study_id, timeline.record) %>' "style="cursor:pointer;">
        <td class="col-md-1 text-center" style="padding-right: 0;">
          <div class="icon-sm">
            <% if timeline.record.user.profile_image.attached? %>
              <%= image_tag timeline.record.user.get_profile_image(50, 50), class: "img-fluid user-image" %>
            <% else %>
              <i class="fa-regular fa-circle-user"></i>
            <% end %>
          </div>
        </td>
        <td class="col-md-7" style="padding-left: 0;">
          <table class="table-borderless">
            <tr  class="no-hover">
              <td>
                <div><%= timeline.record.user.name %></div>
                <div class="break-word mt-5"><%= timeline.record.word %></div>
              </td>
            </tr>
            <tr class="no-hover">
              <td>
                <div class="d-flex">
                  <%= render 'public/studies/study_icon', study: timeline.record.study %>
                  <div class="d-flex flex-column ml-2">
                    <div class="break-word"><%= timeline.record.study.title %></div>
                    <div class="pt-2"><i class="fa-regular fa-clock text-size"></i><%= timeline.record.study_time %>分</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <i class="fa-regular fa-comment"></i>
                  <%= timeline.record.study_comments.count %>
                </span>
                <span class="ml-5">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <%= timeline.record.favorites.count %>
                </span>
              </td>
            </tr>
          </table>
          <div class="text-right"><%= timeline.record.start_time.strftime('%Y年%m月%d日 %H:%M') %></div>
        </td>
      </tr>
    </table>
  <!--レビュー側表示-->
  <%  elsif timeline.study_review.present? %>
    <table class="table table-hover">
      <tr onclick="location.href='<%= study_study_review_path(timeline.study_review.study_id, timeline.study_review) %>'" style="cursor:pointer;">
        <td>
          <table class="table-borderless w-100">
            <tr  class="no-hover">
              <td class="d-flex align-items-center">
                <div class="icon-sm">
                  <% if timeline.study_review.user.profile_image.attached? %>
                    <%= image_tag timeline.study_review.user.get_profile_image(50, 50), class: "img-fluid user-image" %>
                  <% else %>
                    <i class="fa-regular fa-circle-user"></i>
                  <% end %>
                </div>
                <div class="pl-4"><%= timeline.study_review.user.name %></div>
              </td>
            </tr>
            <tr class="no-hover">
              <td class="pl-5">
                <table class="table-borderless ml-4">
                  <tr class="no-hover">
                    <td>
                      <h6>教材レビュー</h6>
                      <div class="d-flex">
                        <%= render 'public/studies/study_icon', study: timeline.study_review.study %>
                        <div class="break-word ml-2"><%= timeline.study_review.study.title %></div>
                      </div>
                    </td>
                  </tr>
                  <tr class="no-hover">
                    <td class="d-flex align-items-center">
                      <div class="icon-sm">
                        <% if timeline.study_review.user.profile_image.attached? %>
                          <%= image_tag timeline.study_review.user.get_profile_image(50, 50), class: "img-fluid user-image" %>
                        <% else %>
                          <i class="fa-regular fa-circle-user"></i>
                        <% end %>
                      </div>
                      <div class="pl-3"><%= timeline.study_review.user.name %></div>
                    </td>
                    <td class="d-flex flex-column">
                      <div class="break-word"><%= timeline.study_review.title %></div>
                      <div class="break-word"><%= timeline.study_review.body %></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>
                        <i class="fa-regular fa-comment"></i>
                        <%= timeline.study_review.review_comments.count %>
                      </span>
                      <span class="ml-5">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <%= timeline.study_review.review_favorites.count %>
                      </span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="text-right"><%= timeline.study_review.created_at.strftime('%Y年%m月%d日 %H:%M') %></div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>