<%= form_with model: user, method: :patch, local: true do |f| %>
  <table colspan="2" class="table">
    <tr>
      <%= f.file_field :profile_image, class: "d-none", onchange: "previewImage(this);" %>
      <td class="form-group" style="max-width: 35px;">
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image, class: "open-file-field img-fluid user-profile-image", id: "preview" %>
        <% else %>
          <%= image_tag "user_no_image.jpg", class: "open-file-field img-fluid user-profile-image", id: "preview" %>
        <% end %>
      </td>
      <td class="form-group">
        <%= f.label :name, "ニックネーム" %>
        <%= f.text_field :name, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="form-group">
        <%= f.label :introduction, "自己紹介" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="form-group">
        <%= f.label "ユーザータグ" %><br>
        <div style="display: flex; flex-wrap: wrap;">
          <% Tag.all.each do |tag| %>
            <div style="margin-right: 10px;">
              <%= f.check_box :tag_ids, { multiple: true }, tag.id %><%= tag.name %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <%= f.label :follow_request, "フォロワー募集" %><br>
        <%= f.select :follow_request, User.follow_requests, include_blank: false, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <%= f.label :sex, "性別" %><br>
        <%= f.select :sex, User.sexes, include_blank: true, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="form-group w-100">
        <div class="field">
          <%= f.label :birthday, "生年月日" %><br>
          <%= f.date_field :birthday, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="form-group">
        <%= f.label :residence, "都道府県" %><br>
        <%= f.select :residence, User.residences, include_blank: true, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan=3 class="text-center">
        <span class="pt-2"><%= f.submit "保存", class: "btn btn-dark" %></span>
      </td>
    </tr>
  </table>
<% end %>


<script>
  $(".open-file-field").on("click", () => {
    $("#user_profile_image").click();
    return false;
  });

  function previewImage(obj)
  {
  	var fileReader = new FileReader();
  	fileReader.onload = (function() {
  		document.getElementById('preview').src = fileReader.result;
  	});
  	fileReader.readAsDataURL(obj.files[0]);
  }
</script>