<table>
  <% users.each do |user| %>
    <tr>
      <td class="d-flex mb-3 mr-2">
        <div class="icon">
          <% if user.profile_image.attached? %>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image(150, 150), class: "img-fluid" %>
            <% end %>
          <% else %>
            <%= link_to user_path(user) do %>
              <i class="logo fa-regular fa-circle-user"></i>
            <% end %>
          <% end %>
        </div>
      </td>
        <td class="align-top">
          <div class="text-size"><%= user.name %></div>
          <div class="text-size"><%= user.introduction %></div>
        </td>
    </tr>
  <% end %>
</table>