<div class="d-flex justify-content-between align-items-center pt-3">
  <div class="icon">
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.get_profile_image(70, 70), class: "img-fluid user-image" %>
    <% else %>
      <i class="logo-show fa-regular fa-circle-user"></i>
    <% end %>
  </div>

  <div class="d-flex">
    <% if @user == current_user %>
      <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-secondary" %>
    <% else %>
      <div id="relationship-<%= @user.id %>"><%= render 'public/relationships/button', user: @user %></div>
    <% end %>
    <span class="ml-2"><%= render 'dm', user: @user, room: @room, isRoom: @isRoom, roomId: @roomId, entry: @entry %></span>
  </div>
</div>

<div class="text-size-md user-name"><%= @user.name %></div>
<h6 class="pt-3"><i class="fa-solid fa-tag pr-1"></i>勉強中</h6>
<div>
  <% @tag_names.split("　").each do |tag| %>
    <%= link_to tag, tagsearch_path(tag_id: tag), class: "user-tag" %>
  <% end %>
</div>

<h6 class="pt-3">プロフィール</h6>
<table colspan="2" class='table'>
  <tr>
    <td>
      <%= link_to user_studies_path(@user), class: "link" do %>
        <%= @user.study_ids.count %>教材 >
      <% end %>
      <%= link_to following_user_path(@user), class: "link ml-2" do %>
        <%= @user.following.count %>フォロー >
      <% end %>
      <%= link_to followers_user_path(@user), class: "link ml-2" do %>
        <%= @user.followers.count %>フォロワー >
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>自己紹介</strong>
      <div class="break-word"><%= @user.introduction %></div>
    </td>
  </tr>
  <tr>
    <td>
      <strong>フォロワー募集</strong>
      <% if @user.follow_request.present? %>
        <div><%= I18n.t("enums.user.follow_requests.#{User.follow_requests.key(@user.follow_request)}") %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>性別</strong>
      <% if @user.sex.present? %>
        <div><%= I18n.t("enums.user.sexes.#{User.sexes.key(@user.sex)}") %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>生年月日</strong>
      <div><%= @user.birthday %></div>
    </td>
  </tr>
  <tr>
    <td>
      <strong>都道府県</strong>
      <% if @user.sex.present? %>
        <div><%= I18n.t("enums.user.residences.#{User.residences.key(@user.residence)}") %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h6 class="pt-3">タイムライン</h6>
      <%= render 'public/timelines/index', timelines: @timelines %>
    </td>
  </tr>
</table>

