<nav class="navbar">
  <div class="logo d-flex">
    <a href="/"><span class="pl-2">StudyRing</span></a>
  </div>
  <div class="nav-list">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.get_profile_image(250, 300), class: "img-fluid" %>
              <span class="pl-2"><%= current_user.name %></span>
            <% else %>
              <i class="fa-solid fa-user"></i>
              <span class="pl-2"><%= current_user.name %></span>
            <% end %>
          <% end %>
        </li>
        <li><%= link_to "新規投稿", new_study_path %></li>
        <li><%= link_to "投稿一覧", studies_path %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "ユーザー一覧", admin_users_path %></li>
        <li><%= link_to "投稿履歴一覧", admin_studies_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="toggle_btn">
  <span></span>
  <span></span>
  <span></span>
</div>

<script>
  (function($) {
    var $body = $('body');
    var $btn = $('.toggle_btn');
    var open = 'open'; // class
    $btn.on('click', function() {
      if (!$body.hasClass(open)) {
        $body.addClass(open);
      } else {
        $body.removeClass(open);
      }
    });
  })(jQuery);
</script>