<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="logo-section d-flex justify-content-start">
        <a class="navbar-brand" href="/" ><span>StudyRing</span></a>
      </div>

      <div class= "collapse navbar-collapse" id="navbarNavDropdown">
        <ul class= "navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), class: "btn btn-outline-light rounded-pill mr-2 md-3" do%>
                <i class="fa-regular fa-circle-user"></i>マイページ
              <% end %>
            </li>
            <li>
              <%= link_to studies_path, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-book"></i>投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-users"></i>ユーザー一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-right-from-bracket"></i>ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_registration_path, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-user-plus"></i>新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-right-to-bracket"></i>ログイン
              <% end %>
            </li>
            <li>
              <%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-outline-light rounded-pill mr-2" do %>
                <i class="fa-solid fa-user-tie"></i>ゲストログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>