<!DOCTYPE html>
<html>
  <head>
    <title>StudyRing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/8c75a932ab.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <% if request.fullpath.include? "/admin" %>
        <%= render "layouts/admin_header" %>
      <% else %>
        <%= render "layouts/public_header" %>
      <% end %>
    </header>
    <main class="flex-shrink-0 wrapper">
      <div class="container">
        <% if flash[:success] %>
          <div class="alert alert-success mt-2" role="alert">
            <%= flash[:success] %>
          </div>
        <% end %>
        <% if flash[:danger] %>
          <div class="alert alert-danger mt-2" role="alert">
            <%= flash[:danger] %>
          </div>
        <% end %>
        <div class='row pb-5'>
          <div class="col-md-8 mx-auto pt-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="text">
        Copyright © Infratop Inc. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>

<!--エラー文 フェードアウト-->
<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>